<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!--여기는 매핑할 GuestBookMapper.java의 풀패키지명을 적어준다 -->
<mapper namespace="com.guest.app.GuestBookMapper">
 
    <resultMap type="GuestBook" id="GuestBookResultMap">
    	<result property="no" column="no" />
        <result property="email" column="email" />
        <result property="passwd" column="passwd" />
        <result property="txt" column="txt" />
        <result property="regdate" column="regdate" />
        <result property="modified" column="modified" />
    </resultMap>
 
    <!-- id의 경우에는 Mapper.java에 동일하게 사용해야된다. -->
    <select id="getGuestBooks" resultMap="GuestBookResultMap">
        SELECT * FROM guestbook ORDER BY [no] DESC
    </select>
    
    <!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래명이나 별칭이 들어간다  -->
    <insert id="insertGuestBook" parameterType="com.guest.app.GuestBook" >
        INSERT INTO guestbook(email, passwd, txt, regdate, modified) values(#{email},#{passwd},#{txt},#{regdate},#{modified})
	</insert>
	
	<!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래명이나 별칭이 들어간다  -->
    <update id="updateGuestBook" parameterType="com.guest.app.GuestBook">
		UPDATE guestbook 
		SET txt=#{txt},modified=#{modified} 
		WHERE [no]=#{no} AND passwd = #{passwd}
	</update>
	
	<!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래명이나 별칭이 들어간다  -->
    <delete id="deleteGuestBook" parameterType="com.guest.app.GuestBook">
		DELETE FROM guestbook WHERE [no]=#{no}
	</delete>
</mapper>